/* vars */
:root {
  --demo-height: 25rem;
  --c-bg: #f6f6f7;
  --c-text: rgb(60, 60, 67);
}

html.dark {
  --c-bg: #161618;
  --c-text: rgba(255, 255, 245, 0.86);
}

/* base */
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
}
